.App {
  text-align: center;
}

.title {
  width: 30%;
  height: 150px;
  font-size: 60px;
  background: rgba(33, 81, 9, 0.412);
  border: 8px;
  display: inline-block;
  text-align: center;
  line-height: 150px;
}
