.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(142, 57, 0, 0.71);
}

#root {
  margin: 0 auto;
}

.title {
  width: 33%;
  height: 150px;
  font-size: 60px;
  background: rgba(33, 81, 9, 0.412);
  border: 1px solid black;
  float: left;
  text-align: center;
  line-height: 150px;
  border-radius: 9px;
}

button {
  display: block;
  margin: 0 auto;
  margin: 10px;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.menu {
  text-align: center;
  width: 90%;
}

h1 {
  width: 109%;
}

p {
  margin: 0;
  padding: 0;
}
